services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: junction
      POSTGRES_PASSWORD: junction
      POSTGRES_DB: junction
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
